/* template.css */
.body {
  position: relative;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  min-height: 100vh;
  height: 100vh;
}

.body > header,
.body > header > nav,
main,
footer {
  max-width: 1600px;
  min-width: 800px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.body > header {
  max-width: 100%;
  font-size: 14px;
}

.body > main {
  padding: 15px;
  color: #085392;
  padding-top: 0px;
}

.body > header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
  color: #f3f3f3;
  background-color: #2b66a8;
  background-image: linear-gradient(#0a73aa, #2b66a8);
}

.body > footer {
  font-family: helvetica, arial, sans-serif;
}

/* Prevent hover actions for company logo menu item.
nav > ul > li:first-child ul li:first-of-type,
nav > ul > li:hover:first-child ul li:hover:first-of-type {
  background: #2b66a8;
  color: #085392;
  border-bottom: 1px solid #0a73aa;
  cursor: auto;
} */
main section h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
