/* template.css */
body {
  position: relative;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  min-height: 100vh;
}

body > header,
body > header > nav,
main,
footer {
  max-width: 1600px;
  min-width: 800px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

body > header {
  max-width: 100%;
  font-size: 14px;
}

body > main {
  padding: 15px;
  color: #085392;
  padding-top: 0px;
}

body > header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
  color: #f3f3f3;
  background-color: #2b66a8;
  background-image: linear-gradient(#0a73aa, #2b66a8);
}

body > footer {
  font-family: helvetica, arial, sans-serif;
}

/* Main Menu */
nav {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 3;
  border-bottom: 1px solid #0a73aa;
}

nav ul li {
  cursor: pointer;
}

li.active span {
  font-weight: bold;
}

nav ul li span a {
  padding: 0px;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;

  box-sizing: border-box;
}

nav ul li a:hover,
nav ul li span:hover {
  color: #fffed5;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

/* Main Menu Root Items */
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  padding-left: 20px;
  padding-right: 10px;
}

nav > ul > li {
  position: relative;
  top: 0px;
  left: 0px;
  padding-bottom: 10px;
}

/* Main Menu Sub Menu Items */
nav > ul > li ul {
  position: absolute;
  top: 24px;
  left: 0px;
  background: #2b66a8;
  visibility: hidden;
  min-width: 200px;
  border: 1px solid #2b66a8;
  border-top-color: #0a73aa;
  opacity: 0;
}

nav > ul > li ul li {
  border-top: 1px solid #0a73aa;
}

nav > ul > li ul h2 {
  font-size: 12px;
  font-style: italic;
  border-top: 1px solid #0a73aa;
  border-bottom: 1px dotted #0a73aa;
  padding: 10px;
}

nav > ul > li.expand ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s;
}

nav > ul > li:hover ul li:hover,
nav > ul > li:hover ul li:hover a {
  background: #f7f7f7;
  color: #085392;
}

nav .indicator {
  position: absolute;
  top: -16px;
  left: 0px;
  width: 16px;
  border: none;
  pointer-events: none;
}

nav .indicator > div {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/tux/gfx/global/header/arrow_up.png");
  background-size: contain;
}

#nav_company h1 {
  font-weight: bolder;
}

/* Prevent hover actions for company logo menu item.
nav > ul > li:first-child ul li:first-of-type,
nav > ul > li:hover:first-child ul li:hover:first-of-type {
  background: #2b66a8;
  color: #085392;
  border-bottom: 1px solid #0a73aa;
  cursor: auto;
} */

#nav_help {
  font-size: 20px;
  font-weight: bold;
  cursor: help;
}

#nav_notification {
  position: relative;
  top: 8px;
  left: 0px;
  height: 32px;
  width: 32px;
  background-image: url("/tux/gfx/global/header/32-Speech-Bubble-2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#nav_notification div {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 15px;
  width: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #6e6e6e;
}

#nav_profile {
  padding: 2px;
}

#nav_profile > ul {
  top: 70px;
  left: auto;
  right: 0px;
}

#nav_profile .indicator {
  left: auto;
  right: 28px;
}

#nav_profile > div {
  border: 1px solid #085392;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  background-image: url("/tux/gfx/global/header/pug.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ############################
    main section:first-of-type
    {
        border-bottom: 1px solid #4489d5;
    }
    */

main section h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#cfkit_version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: rgb(128, 128, 128);
}

main {
  background-color: #2b66a8;
}
