/* OKApi Layout*/
@import "../../okapi/component/Select.css";
@import "../../okapi/component/DatePicker.css";
@import "../../okapi/form/index.css";
@import "../../okapi/view/index.css";

/* Ice Theme */
@import "./fonts/index.css";

:root {
  /*
  --nav-seperator-color: yellow;
  --nav-border-color: red;
  --nav-bgcolor: green;
  --nav-hover-color: pink;
  --nav-hover-bgcolor: cyan;
  --nav-color: orange;
  --nav-title-hover: orange;
  */
}
