/* OKApi Layout*/
@import "../../reset.css";
@import "../../okapi/component/Select.css";
@import "../../okapi/component/DatePicker.css";
@import "../../okapi/form/index.css";
@import "../../okapi/view/index.css";

/* Ice Theme */
@import "./fonts/index.css";

h1 {
  color: burlywood;
  font-family: Roboto;
  font-weight: 300;
  font-size: 60px;
}
