.tab_controller {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tab_container {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  height: 100%;
}

ul.tab_menu {
  position: relative;
  display: flex;
  align-items: flex-end;
  top: 1px;
  left: 0px;
  margin-top: 1px;
  margin-left: 10px;
  box-sizing: border-box;
}

ul.tab_menu li {
  display: flex;
  border: 1px solid #2ca1e9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  background-color: #9bdaff;
  color: rgb(85, 87, 83);
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

ul.tab_menu li.active {
  color: white;
  background-color: #2ca1e9;
  font-weight: 600;
}

/* TabContent */
.tab_content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  height: 100%;
}
